*{
font-weight: lighter;
font-family: helvetica;
}
.cards{
display: flex;
}
.card{
color:#6a040f;
background-color: #f3c76e;
width: 400px;
height: 660px;
font-size: 20px;
border-radius:20px;
margin: 0 20px;
text-align: center;
transition: 150ms ease;
}
.card:hover{
transform: scale(1.1);
box-shadow: 0 0 30px black;
}

.cardline{
background-color:#6a040f;
width: 120px;
height: 1px;
}